.header{
    height: 85px;
    background-color:white;
    border-radius: 19px;
    top: 33px;
}

.header-button{
    background-color: #D54545;
    color: white;
    padding: 16px 16px;
    border-radius: 15px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}