/* header css */
.header {
    height: 85px;
    background-color: white;
    border-radius: 19px;
    top: 33px;
    position: absolute;
}

.header-button {
    background-color: #D54545;
    color: white;
    padding: 16px 16px;
    border-radius: 15px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Texts & button on the main image */
.main-content-group {
    margin-bottom: 5px;
    position: absolute;
    top: 40%;
}

.main-hi,
.main-role {
    font-size: 40px;
    color: white;
    font-weight: 700;
}

.main-name {
    font-size: 57px;
    color: white;
    font-weight: 700;
}

.main-role-highlight {
    font-size: 45px;
    color: #B92C2D;
    font-weight: 700;
}

.main-desc {
    font-size: 20px;
    color: white;
}

.main-button {
    background-color: #D54545;
    color: white;
    padding: 16px 16px;
    border-radius: 15px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 0px;
}

.main-gap {
    margin-top: -35px;
}

.main-gap-desc {
    margin-top: -15px;
}

/* main mobile view text and button */
@media (max-width: 576px) {

    /* mobile background */
    .mobile-main-background {
        height: clamp(400px, 90vw, 500px);
        background-color: #580514;
        position: relative;
        overflow: hidden;
    }

    .mobile-background-circle {
        width: 500px;
        height: 500px;
        background-color: #BC2E30;
        border-radius: 44% 50% 45% 50%;
        position: absolute;
        left: 60%;
        z-index: 0;
    }

    .menu-bar {
        height: clamp(30px, 10vw, 40px);
        width: clamp(30px, 10vw, 40px);
        background-color: #580514;
        font-size: clamp(15px, 5vw, 25px);
        margin-top: 10px;
        right: 1%;
        color: white;
        cursor: pointer;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 1;
    }

    .main-content-group {
        position: absolute;
        top: 93px;
        text-align: center;
    }

    .main-hi,
    .main-name {
        font-size: clamp(15px, 5vw, 30px);
        color: white;
        font-weight: 700;
    }

    .main-role {
        font-size: clamp(18px, 5vw, 35px);
        color: white;
        font-weight: 700;
        white-space: nowrap;
    }

    .main-role-highlight {
        font-size: clamp(18px, 5vw, 35px);
        color: #B92C2D;
        font-weight: 700;
    }

    .main-desc {
        font-size: clamp(14px, 4vw, 18px);
        color: white;
    }

    .mobile-main-button {
        background-color: #D54545;
        color: white;
        padding: 12px 0px;
        border-radius: 15px;
        position: relative;
        font-weight: 700;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 3%;
    }

    .main-gap {
        margin-top: -20px;
    }

    .main-gap-desc {
        margin-top: -14px;
    }
}

/* About content */
.about-main-texts {
    position: relative;
    top: clamp(25px, 5vw, 145px);
    text-align: center;
}

.about-heading {
    font-size: clamp(15px, 4vw, 35px);
    color: #EA1739;
    font-weight: 600;
    text-align: center;
}

.about-paragraph {
    font-size: clamp(20px, 5vw, 57px);
    color: black;
    font-weight: 600;
    text-align: center;
    margin-top: clamp(-60px,4vw,-30px);
}

.about-paragraph-highlight {
    font-size: clamp(20px, 5vw, 57px);
    color: #EA1739;
    font-weight: 600;
}

